/JavaApplication3/nbproject/private/
/ExemploContaCorrente/build/
/ExemploContaCorrente/nbproject/private/
/SistemaContaBancaria/nbproject/private/
/SistemaContaBancaria/build/
/SistemaDigitalizacaoArquivos/nbproject/private/
/SistemaLanchonete/build/
/SistemaLanchonete/dist/
/SistemaDigitalizacaoArquivos/build/
/ExemploIntefaces/nbproject/private/
/ExemploIntefaces/build/
/SistemaDigitalização/nbproject/private/
/SistemaDigitalizacaoArquivos/JogoPerguntasMatematicas/build/
/SistemaDigitalizacaoArquivos/JogoPerguntasMatematicas/nbproject/private/